body,
a {
  color: #dfdfdf;
}

strong,
#date {
  color: white;
}

body {
  background: #202020;
  font: 0.875em/1.5em sans-serif;
  margin: 0;
  padding: 1.5em;
}

strong,
a:hover {
  color: orange;
}

strong {
  font-weight: normal;
}

main {
  margin: auto;
  max-width: 40em;
}

#timeline {
  display: flex;
  margin: 3em 0 1.5em;
}

#timeline div div {
  box-sizing: border-box;
  background-color: #373737;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #202020;
  padding: 0.25em 0.375em;
  position: sticky;
  top: 0;
}

footer {
  text-align: center;
}
