body,
a {
  color: #dfdfdf;
}

body {
  background: #202020;
  font: 0.875em/1.625em sans-serif;
}

a:hover {
  color: peachpuff;
}

.wonderline {
  text-decoration: none;
}

dt,
footer {
  margin: 2em 1.5em 0;
}

#timeline {
  display: flex;
  overflow-y: auto;
}

#timeline div {
  box-sizing: border-box;
}

#timeline > div:first-child {
  text-align: right;
}

#timeline > div:not(:first-child) {
  border-left: 1px solid #606060;
}

#timeline div div {
  padding: 0.25em 0.375em;
}

#timeline div div:not(:first-child) {
  border-top: 1px solid #606060;
}
